<div class="centeredText">
<h2>{{locale.get('privacy-protection-heading-privacy-at-mynedata')}}</h2>
<p>{{locale.get('privacy-protection-text-privacy-at-mynedata')}}<p>
</div>
<div class="centeredText">
<h2>{{locale.get('privacy-protection-heading-privacy-level-at-mynedata')}}</h2>
<p>{{locale.get('privacy-protection-text-privacy-level-at-mynedata')}}</p>
</div>
<div class="centeredText">
<h2>{{locale.get('privacy-protection-heading-level-1')}}</h2>
<p><b>k ≥ 5</b> {{locale.get('privacy-protection-text-and')}} <b>ε ≤ 1</b></p>
<p>{{locale.get('privacy-protection-text-level-11')}}<br>
{{locale.get('privacy-protection-text-level-12')}}</p>
</div>
<div class="centeredText">
<h2>{{locale.get('privacy-protection-heading-level-2')}}</h2>
<p><b>k ≥ 11</b> {{locale.get('privacy-protection-text-and')}} <b>ε ≤ 0.1</b></p>
<p>{{locale.get('privacy-protection-text-level-21')}}<br>
{{locale.get('privacy-protection-text-level-22')}}</p>
</div>
<div class="centeredText">
<h2>{{locale.get('privacy-protection-heading-level-3')}}</h2>
<p><b>ε ≤ 0.01</b></p>
<p>{{locale.get('privacy-protection-text-level-3')}}</p>
</div>
<div class="centeredText">
<p><i>{{locale.get('privacy-protection-heading-annotation')}}</i></p>
<p>{{locale.get('privacy-protection-text-annotation')}}</p>
</div>
<div class="centeredText">
<p><a href="/privprot">{{locale.get('privacy-protection-link-full')}}</a></p>
</div>