<div fxLayout="column" fxLayoutAlign="start stretch" >
  <h1>Chose Donation Recipient</h1>
  <div>
    mynedata is an easy way for you, to do some good - without additional costs for you or your organisation. depending on the recipient, your volume may increase by 20%
  </div>

  <div class="mynedata-bordered" fxLayout="column" fxLayoutAlign="space-around stretch">
    <div fxFlexFill><p class="bold">Aktuell gewählte Organisation</p></div>
    <div fxFlexFill><p>UNO-Flüchtingshilfe e.V.</p></div>
    <div fxFlexFill><a>Details</a></div>
  </div>

  <div class="mynedata-bordered pointer" fxLayout="row" fxLayoutAlign="space-around center">
    <div>Choose different organisation</div>
    <div><mat-icon>expand_more</mat-icon></div>
  </div>

  <button mat-raised-button color="accent">donate money</button>
</div>
