$mynedata-light-grey: (
        50 : #ffffff,
        100 : #f4f4f4,
        200 : #ececec,
        300 : #e4e4e4,
        400 : #dfdfdf,
        500 : #d9d9d9,
        600 : #d5d5d5,
        700 : #cfcfcf,
        800 : #cacaca,
        900 : #c0c0c0,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #000000,
                800 : #000000,
                900 : #000000,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

/* For use in src/lib/core/theming/_palette.scss */
$mynedata-light-green: (
        50 : #ffffff,
        100 : #ffffff,
        200 : #fcfdfa,
        300 : #e1e7c8,
        400 : #d5deb2,
        500 : #c9d59d,
        600 : #bdcc88,
        700 : #b1c372,
        800 : #a6b95d,
        900 : #98ad4a,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #e0ebba,
        A700 : #d4dfac,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #000000,
                800 : #000000,
                900 : #000000,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);


