<div fxLayout="column" fxLayoutAlign="start stretch">
  <h1>Choose Voucher</h1>
  <div>
    mynedata is an easy way for you, to do some good - without additional costs for you or your organisation. depending on the recipient, your volume may increase by 20%
  </div>

  <div class="mynedata-bordered" fxLayout="column" fxLayoutAlign="space-around start">
    <div fxFlexFill>
      <div fxLayout="column" fxLayoutAlign="space-around center">
        <img class="voucher-logo" src="../../../../../assets/common/icon-cadooz.png" alt="Logo of Cadooz">
      </div>
    </div>
    <div><p>[Some Money]€ cadooz BestChoice Voucher</p></div>
    <div>More Info here: <a>www.cadooz.com/produkte/bestchoice</a></div>
  </div>

  <div class="mynedata-bordered pointer" fxLayout="row" fxLayoutAlign="space-around center">
    <div>Choose different voucher</div>
    <div><mat-icon>expand_more</mat-icon></div>
  </div>

  <button mat-raised-button color="accent">order voucher</button>
</div>
