<mat-card class="dashboard-widget-card mat-elevation-z4">
  <mat-card-header routerLink="../requests" class="pointer">
    <mat-card-title>
      <img class="widget-icon" src="../../../../assets/user-zone/icon-requests.svg" alt="charts icon">
      {{ locale.get('dashboard-widget-requests-and-notifications-title') }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="column" fxLayoutAlign="space-between stretch">
      <ng-container *ngIf="requests|async as _requests" [ngPlural]="_requests.length">
        <ng-template ngPluralCase="=0">
          {{locale.get('dashboard-widget-requests-none-available-text')}}
        </ng-template>
        <ng-template ngPluralCase="other">
          <ng-container *ngFor="let req of _requests">
            <div routerLink="../requests" [queryParams]="{view: req.requestId}" class="pointer mynedata-bordered mynedata-bordered-hover" fxLayout="column" fxLayoutAlign="start start">
              <div class="bold">{{ req.title }}</div>
              <div>{{ req.processorObject.name }}</div>
              <div>{{ printReward(req.reward) }}</div>
            </div>
          </ng-container>
        </ng-template>
      </ng-container>
    </div>
  </mat-card-content>
</mat-card>
