<div fxLayout="column" fxLayoutAlign="start stretch" >
  <div class="bolder">Auszahlungen</div>
  <hr class="mynedata-horizontal-divider">
  <div>
    <div fxLayout="row" fxLayoutAlign="start start" >
      <div class="fill-remaining-space"></div>
      <div>Summe: 30€</div>
    </div>
  </div>
  <div>
    <table>
      <tr>
        <td>01.01.19</td>
        <td>Gespendet an: UNICEF</td>
        <td class="text-right">5€</td>
      </tr>
      <tr>
        <td>12.02.19</td>
        <td>Ausgezahlt an: PayPal</td>
        <td class="text-right">15€</td>
      </tr>
      <tr>
        <td>05.03.19</td>
        <td>Gutschein gekauft: cadooz</td>
        <td class="text-right">10€</td>
      </tr>
    </table>
  </div>
  <div>
    <div fxLayout="row" fxLayoutAlign="center start" >
      <div><a class="unavailable">Vorherige</a></div>
    </div>
  </div>
</div>
