<div class="centeredText">
	<h1>{{locale.get('privacy-protection-heading-how-we-protect')}}</h1>
	<p>{{locale.get('privacy-protection-text-how-we-protect-1')}}<br>
	{{locale.get('privacy-protection-text-how-we-protect-2')}}</p>
</div>
<div class="centeredText">
	<h2>{{locale.get('privacy-protection-heading-what-anonymity')}}</h2>
	<p>{{locale.get('privacy-protection-text-what-anonymity')}}</p>
</div>
<div class="exampleBox">
<p>
<i>{{locale.get('privacy-protection-heading-example')}}</i><br>
{{locale.get('privacy-protection-text-example1')}}
</p>
<table class="centeredTable">
	<tr>
		<th>{{locale.get('privacy-protection-table-name')}}</th>
		<th>{{locale.get('privacy-protection-table-postcode')}}</th>
		<th>{{locale.get('privacy-protection-table-age')}}</th>
		<th>{{locale.get('privacy-protection-table-gender')}}<br></th>
		<th>{{locale.get('privacy-protection-table-other-data')}}</th>
	</tr>
	<tr>
		<td>...</td>
		<td>...</td>
		<td>...</td>
		<td>...</td>
		<td>...</td>
	</tr>
	<tr>
		<td>*</td>
		<td>22222</td>
		<td>86</td>
		<td>{{locale.get('privacy-protection-table-male')}}</td>
		<td>...</td>
	</tr>
	<tr>
		<td>*</td>
		<td>11111</td>
		<td>86</td>
		<td>{{locale.get('privacy-protection-table-male')}}</td>
		<td>...</td>
	</tr>
	<tr>
		<td>*</td>
		<td>11111</td>
		<td>86</td>
		<td>{{locale.get('privacy-protection-table-male')}}</td>
		<td>...</td>
	</tr>
	<tr>
		<td>*</td>
		<td>11111</td>
		<td>87</td>
		<td>{{locale.get('privacy-protection-table-male')}}</td>
		<td>...</td>
	</tr>
	<tr class="markedBorder">
		<td>*</td>
		<td>11111</td>
		<td>90</td>
		<td>{{locale.get('privacy-protection-table-male')}}</td>
		<td>...</td>
	</tr>
	<tr>
		<td>*</td>
		<td>11111</td>
		<td>91</td>
		<td>{{locale.get('privacy-protection-table-male')}}</td>
		<td>...</td>
	</tr>
	<tr>
		<td>*</td>
		<td>22222</td>
		<td>92</td>
		<td>{{locale.get('privacy-protection-table-male')}}</td>
		<td>...</td>
	</tr>
	<tr>
		<td>*</td>
		<td>22222</td>
		<td>90</td>
		<td>{{locale.get('privacy-protection-table-male')}}</td>
		<td>...</td>
	</tr>
	<tr>
		<td>...</td>
		<td>...</td>
		<td>...</td>
		<td>...</td>
		<td>...</td>
	</tr>
</table>
</div>
<div class="centeredText">
<h2>{{locale.get('privacy-protection-heading-privacy-at-mynedata')}}</h2>
<p>{{locale.get('privacy-protection-text-privacy-at-mynedata')}}<p>
</div>
<div class="centeredText">
<h2>{{locale.get('privacy-protection-heading-k-anonymity')}}</h2>
<p>{{locale.get('privacy-protection-text-k-anonymity')}}</p>
</div>
<div class="exampleBox">
<p>
<i>{{locale.get('privacy-protection-heading-example')}}</i><br>
{{locale.get('privacy-protection-text-example2')}}
</p>
<p style="text-align: right;"><a href="https://de.wikipedia.org/wiki/K-Anonymit%C3%A4t">{{locale.get('privacy-protection-link-k-anonymity')}}</a></p>
<table class="centeredTable">
	<tr>
		<th>{{locale.get('privacy-protection-table-name')}}</th>
		<th>{{locale.get('privacy-protection-table-postcode')}}</th>
		<th>{{locale.get('privacy-protection-table-age')}}</th>
		<th>{{locale.get('privacy-protection-table-gender')}}<br></th>
		<th>{{locale.get('privacy-protection-table-other-data')}}</th>
	</tr>
	<tr>
		<td>...</td>
		<td>...</td>
		<td>...</td>
		<td>...</td>
		<td>...</td>
	</tr>
	<tr>
		<td>*</td>
		<td>22222</td>
		<td>86 {{locale.get('privacy-protection-text-to')}} 95</td>
		<td>{{locale.get('privacy-protection-table-male')}}</td>
		<td>...</td>
	</tr>
	<tr style="background: rgba(123, 239, 178, 0.5);">
		<td>*</td>
		<td>11111</td>
		<td>86 {{locale.get('privacy-protection-text-to')}} 95</td>
		<td>{{locale.get('privacy-protection-table-male')}}</td>
		<td>...</td>
	</tr>
	<tr>
		<td>*</td>
		<td>11111</td>
		<td>86 {{locale.get('privacy-protection-text-to')}} 95</td>
		<td>{{locale.get('privacy-protection-table-male')}}</td>
		<td>...</td>
	</tr>
	<tr>
		<td>*</td>
		<td>11111</td>
		<td>86 {{locale.get('privacy-protection-text-to')}} 95</td>
		<td>{{locale.get('privacy-protection-table-male')}}</td>
		<td>...</td>
	</tr>
	<tr>
		<td>*</td>
		<td>11111</td>
		<td>86 {{locale.get('privacy-protection-text-to')}} 95</td>
		<td>{{locale.get('privacy-protection-table-male')}}</td>
		<td>...</td>
	</tr>
	<tr>
		<td>*</td>
		<td>11111</td>
		<td>86 {{locale.get('privacy-protection-text-to')}} 95</td>
		<td>{{locale.get('privacy-protection-table-male')}}</td>
		<td>...</td>
	</tr>
	<tr>
		<td>*</td>
		<td>22222</td>
		<td>86 {{locale.get('privacy-protection-text-to')}} 95</td>
		<td>{{locale.get('privacy-protection-table-male')}}</td>
		<td>...</td>
	</tr>
	<tr>
		<td>*</td>
		<td>22222</td>
		<td>86 {{locale.get('privacy-protection-text-to')}} 95</td>
		<td>{{locale.get('privacy-protection-table-male')}}</td>
		<td>...</td>
	</tr>
	<tr>
		<td>...</td>
		<td>...</td>
		<td>...</td>
		<td>...</td>
		<td>...</td>
	</tr>
</table>
</div>
<div class="centeredText">
<h1>{{locale.get('privacy-protection-heading-dif-privacy')}}</h1>
<p>{{locale.get('privacy-protection-text-dif-privacy1')}}<br>
{{locale.get('privacy-protection-text-dif-privacy2')}}</p>
</div>
<div class="exampleBox" style="background: rgba(191, 191, 191, 0.5);">
<p><i>{{locale.get('privacy-protection-heading-example')}}</i></p>
<p>{{locale.get('privacy-protection-text-example21')}}<br>
{{locale.get('privacy-protection-text-example22')}}
</p>
<p style="text-align: right;"><a href="https://de.wikipedia.org/wiki/Differential_Privacy">{{locale.get('privacy-protection-link-dif-priv')}}</a></p>
</div>
<div class="centeredText">
<h2>{{locale.get('privacy-protection-heading-privacy-level-at-mynedata')}}</h2>
<p>{{locale.get('privacy-protection-text-privacy-level-at-mynedata')}}</p>
</div>
<div class="centeredText">
<h2>{{locale.get('privacy-protection-heading-level-1')}}</h2>
<p><b>k ≥ 5</b> {{locale.get('privacy-protection-text-and')}} <b>ε ≤ 1</b></p>
<p>{{locale.get('privacy-protection-text-level-11')}}<br>
{{locale.get('privacy-protection-text-level-12')}}</p>
</div>
<div class="centeredText">
<h2>{{locale.get('privacy-protection-heading-level-2')}}</h2>
<p><b>k ≥ 11</b> {{locale.get('privacy-protection-text-and')}} <b>ε ≤ 0.1</b></p>
<p>{{locale.get('privacy-protection-text-level-21')}}<br>
{{locale.get('privacy-protection-text-level-22')}}</p>
</div>
<div class="centeredText">
<h2>{{locale.get('privacy-protection-heading-level-3')}}</h2>
<p><b>ε ≤ 0.01</b></p>
<p>{{locale.get('privacy-protection-text-level-3')}}</p>
</div>
 
<div class="centeredText">
<p><i>{{locale.get('privacy-protection-heading-annotation')}}</i></p>
<p>{{locale.get('privacy-protection-text-annotation')}}</p>
</div>
