<div
  *ngIf="_passedDataTypeObject"
  fxLayout="row" fxLayoutAlign="start center"
  fxFill class="datatype-privacy-row"
  [class.not-first-row]="!showLegends"
  [formGroup]="parentFormGroup"
  [class.margin-top]="showLegends"
  [class.default-privacy-identification]="hasDefaultPrivacy()"
>
  <div fxFlex="7">
    <img [src]="'../../../../assets/common/' + _passedDataTypeObject.iconPath" class="data-type-icon" [alt]="'icon of ' + _passedDataTypeObject.nameLocaleIdentifier">
  </div>
  <div fxFlex="25">
    {{print(_passedDataTypeObject.nameLocaleIdentifier)}}
  </div>
  <div fxFlex="7">
    <mat-icon [matTooltip]="print(_passedDataTypeObject.descriptionLocaleIdentifier)">info</mat-icon>
  </div>
  <div fxFlex class="custom-slider" [class.first-row]="true">
    <ng5-slider
      *ngIf="refreshSlider"
      [formControlName]="childFormControlName"
      [options]="getNg5SliderOptions()"
      (userChangeEnd)="changeEmitter.emit()"
      [manualRefresh]="refreshSlider"
    ></ng5-slider>
    <ng5-slider
      *ngIf="!refreshSlider"
      [formControlName]="childFormControlName"
      [options]="getNg5SliderOptions()"
      (userChangeEnd)="changeEmitter.emit()"
    ></ng5-slider>
  </div>
</div>
