<div fxLayout="row" fxLayoutAlign="space-around start" class="container" fxLayoutGap="2em">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Payout</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-score-payout></app-score-payout>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>History</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="column" fxLayoutAlign="start stretch" >
        <app-score-history></app-score-history>
      </div>
    </mat-card-content>
  </mat-card>
</div>
