<div fxLayout="column" fxLayoutAlign="start stretch" >
  <div class="bolder">Punkte</div>
  <hr class="mynedata-horizontal-divider">
  <div>
    <div fxLayout="row" fxLayoutAlign="start start" >
      <div class="fill-remaining-space"></div>
      <div>Summe: 5000</div>
    </div>
  </div>
  <div>
    <table>
      <tr>
        <td>13.03.19</td>
        <td>Amazonas</td>
        <td class="text-right">100</td>
      </tr>
      <tr>
        <td>11.03.19</td>
        <td>MaiWideo</td>
        <td class="text-right">300</td>
      </tr>
      <tr>
        <td>01.03.19</td>
        <td>RWTH</td>
        <td class="text-right">50</td>
      </tr>
    </table>
  </div>
  <div>
    <div fxLayout="row" fxLayoutAlign="center start" >
      <div><a>Vorherige</a></div>
    </div>
  </div>
</div>
